---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Table from "../components/Table";
import Header from "../components/Header.astro";
import BackToUp from "@uiw/react-back-to-top";

var bsit_qualified = "https://api.npoint.io/14cfac70a4d822b63c86";
var bscs_qualified = "https://api.npoint.io/d042489c9f1bf5a3a187";
var bsis_qualified = "https://api.npoint.io/3c89f3651f1bbc459bd8";
var bsemc_qualified = "https://api.npoint.io/877e6111455f0da7fc15";
var blis_qualified = "https://api.npoint.io/a7f15716256bda9f88d5";

var bsit_waitlisted = "https://api.npoint.io/47d530cca8afdeed7606";
var bscs_waitlisted = "https://api.npoint.io/37a342c2605d2f0c6d08";
var bsis_waitlisted = "https://api.npoint.io/d4c487631fe33765eb31";
var bsemc_waitlisted = "https://api.npoint.io/7e99c571aed6cd788098";

//var blis_recommended = "https://api.npoint.io/a13cc73cebd37e7bbfea";

const bsit_qualified_response = await fetch(bsit_qualified);
const bsis_qualified_response = await fetch(bsis_qualified);
const bscs_qualified_response = await fetch(bscs_qualified);
const bsemc_qualified_response = await fetch(bsemc_qualified);
const blis_qualified_response = await fetch(blis_qualified);

const bsit_qualified_data = await bsit_qualified_response.json();
const bsis_qualified_data = await bsis_qualified_response.json();
const bsemc_qualified_data = await bsemc_qualified_response.json();
const bscs_qualified_data = await bscs_qualified_response.json();
const blis_qualified_data = await blis_qualified_response.json();

const bsit_waitlisted_response = await fetch(bsit_waitlisted);
const bscs_waitlisted_response = await fetch( bscs_waitlisted);
const bsis_waitlisted_response = await fetch(bsis_waitlisted);
const bsemc_waitlisted_response = await fetch(bsemc_waitlisted);

const bsis_waitlisted_data = await bsis_waitlisted_response.json();
const bsemc_waitlisted_data = await bsemc_waitlisted_response.json();
const bsit_waitlisted_data = await bsit_waitlisted_response.json();
const bscs_waitlisted_data = await bscs_waitlisted_response.json();

//const blis_recommended_response = await fetch(blis_recommended);
//const blis_recommended_data = await blis_recommended_response.json();

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <BackToUp client:only><span class="text-lg mb-1">&#9650;</span></BackToUp>
    <Header />
    <h2 class="text-center text-lg my-4 font-bold">
      Admission 2024 Final Result
    </h2>
    <div class="max-w-md mx-auto mb-2">
      <ul id="myUL" class="text-sm">
        <li class="ml-4">
          <span class="caret underline">Click to Jump to Sections</span>
          <ul class="nested">
            <li class="ml-4">
              <span class="caret">Qualified</span>
              <ul class="nested">
                <li class="ml-8">
                  <a class="underline" href="#bscsq">BSCS</a>
                </li>
                <li class="ml-8">
                  <a class="underline" href="#bsitq">BSIT</a>
                </li>
                <li class="ml-8">
                  <a class="underline" href="#bsisq">BSIS</a>
                </li>
                <li class="ml-8">
                  <a class="underline" href="#bsemcq">BSEMC</a>
                </li>
                <li class="ml-8">
                  <a class="underline" href="#blisq">BLIS</a>
                </li>
              </ul>
            </li>
            <li class="ml-4">
              <span class="caret">Waitlisted</span>
              <ul class="nested">
                <li class="ml-8">
                  <a class="underline" href="#bscsw">BSCS</a>
                </li>
                <li class="ml-8">
                  <a class="underline" href="#bsitw">BSIT</a>
                </li>
                <li class="ml-8">
                  <a class="underline" href="#bsemcw">BSEMC</a>
                </li>
                <li class="ml-8">
                  <a class="underline" href="#bsisw">BSIS</a>
                </li>
              </ul>
            </li>
            <li class="ml-4">
              <a href="#notes"><span class="caret">Notes</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="bscsq">
      <Table
        dataset={bscs_qualified_data}
        course={"bscs"}
        status={"qualified"}
        client:load
      />
    </div>
    <div id="bscsw">
      <Table
        dataset={bscs_waitlisted_data}
        course={"bscs"}
        status={"waitlisted"}
        client:load
      />
    </div>
    <div id="bsitq">
      <Table
        dataset={bsit_qualified_data}
        course={"bsit"}
        status={"qualified"}
        client:load
      />
    </div>
    <div id="bsitw">
      <Table
        dataset={bsit_waitlisted_data}
        course={"bsit"}
        status={"waitlisted"}
        client:load
      />
    </div>
    <div id="bsisq">
      <Table
        dataset={bsis_qualified_data}
        course={"bsis"}
        status={"qualified"}
        client:load
      />
    </div>
    <div id="bsisw">
      <Table
        dataset={bsis_waitlisted_data}
        course={"bsis"}
        status={"waitlisted"}
        client:load
      />
    </div>
    <div id="bsemcq">
      <Table
        dataset={bsemc_qualified_data}
        course={"bsemc"}
        status={"qualified"}
        client:load
      />
    </div>
    <div id="bsemcw">
      <Table
        dataset={bsemc_waitlisted_data}
        course={"bsemc"}
        status={"waitlisted"}
        client:load
      />
    </div>
    <div id="blisq">
      <Table
        dataset={blis_qualified_data}
        course={"blis"}
        status={"qualified"}
        client:load
      />
    </div>
    <div class="mb-8">
      <p id="notes" class="text-sm p-4">
        <span class="font-bold">Notes:</span>
        <ul class="text-sm px-4 list-disc">
          <li class="ml-4">
            Names that are not on the list are not qualified.
          </li>
          <li class="ml-4">
            Qualified applicants <strong>must confirm their slots on or before June 24</strong>.
            <strong>Unconfirmed slots will be given to waitlisted applicants</strong> after the
            deadline.
          </li>
          <li class="ml-4">
            <span> List of requirements to submit (submit personally):</span>
            <ol class="list-decimal ml-4">
              <li>
                Certificate of Confirmation of Slots <a
                  class="underline"
                  href=""
                  target="_blank">(Download)</a
                >
              </li>
              <li>PSA (NSO) Birth Certificate (2-Photo copy)</li>
              <li>
                Complete Grade 12 SHS Report Card (1-Original and 1 Photocopy)
              </li>
              <li>
                Certificate of Good Moral Character (1-Original and 1 Photocopy)
              </li>
              <li>Ordinary Folder Long Orange Color (2 pcs)</li>
              <li>2x2 Photo (2 pcs)</li>
            </ol>
          </li>
        </ul>
      </p>
    </div>

    <main></main>
    <Footer />
    <script>
      var toggler = document.getElementsByClassName("caret");
      var i;

      for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function (this: any) {
          this.parentElement
            .querySelector(".nested")
            .classList.toggle("active");
          this.classList.toggle("caret-down");
        });
      }
    </script>
  </body>
</html>
